#my-paragraph{
    color: red;
    /* border: 3px solid black; */
    font-weight: bold;
    font-size: 23px;
}

/* for the counter App styling */

body{

body {
  display: flex;
  flex-direction: column; /* stack items vertically */
  justify-content: center; /* center vertically */
  align-items: center; /* center horizontally */
  height: 100vh; /* full screen height */
  margin: 0; /* remove default margin */
  font-family: Arial, sans-serif;
  text-align: center;
}

}
#count-paragraph{
    text-align: center;
    font-size: 10em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#random-number-text{
    color: white;
}

#container-count{
    display: flex;
  justify-content: center; /* horizontally center */
  align-items: center;     /* vertically center */
  /* height: 100vh;          */
  gap: 10px;     
}

button{
background-color: yellow;
border: none;
height: 40px;
border-radius: 10px;

}


button:hover{

    background-color: rgb(234, 0, 255);
    color: white;
}


/* Random Number Generator */

/* #conditional-input{
margin-top: 10px;
    height: 35px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
} */

